table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  

  .center-horizontally {
    text-align: center;
}

/* td[_ngcontent-ng-c1161293889], th[_ngcontent-ng-c1161293889] {
  width: fit-content;
}
 */
 .mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}
/* .mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
} */