<!-- <div>
    <div class="centerTable">
        <table>
            <tr>
                <td>
                    Enter Id :
                </td>
                <td>
                    <input type="text" name="uid" id="uid" autofocus placeholder="Phone no. or Email" required>
                </td>
            </tr>
            <tr>
                <td>
                    Enter Password :
                </td>
                <td>
                    <input type="password" name="pass" id="pass" required>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <input type="submit" name="submit" id="submit" value="Login">
                </td>
            </tr>
            <tr>
                <td colspan="2" class="center">
                    <a href="#">Forgotten password?</a>

                </td>
            </tr>
            <tr>
                <td colspan="2" class="center">
                    <a href="Create_Account.html">Create Account</a>

                </td>
            </tr>
        </table>
    </div>
</div> -->