<div class="col-md-12"></div>
<div>
    <div class="center-horizontally">
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb"
                    style="background-color: rgba(3, 24, 49, 0.692); text-align: center; color: white; font-size: large; box-shadow: 2px 2px 2px gray; justify-content: center; margin-top: 11px; font-size: 25px bold;  ">
                    <h4>State  Level Data Entry </h4>
                </ol>
            </nav>
        </div>
    </div>

    <form [formGroup]="formValidate">
        <div style="margin-top: 10px; height: 100%;" class="scrollable-content">
            <div class="container" style="font-size: 12px;">

        

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Year</label>
                        <div>
                            <mat-form-field>
                                <mat-label>Select year</mat-label>
                                <mat-select formControlName="year"  [(ngModel)]="yearcd"    (selectionChange)="getstatedataentrystatus()" >
                                    <mat-option *ngFor="let item of Selectyeardata" [value]="item.financial_Year">{{
                                        item.financial_Year
                                        }}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="hasError('year', 'required')">year is
                                    <strong>required</strong></mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>




      <div class="col-md-4">
        

        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" (change)="getstatedataentrystatus()">
            <label class="form-check-label" for="flexRadioDefault1">
                State Data Entry Status            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="State Data Entry Status" id="flexRadioDefault2" (selectionchange)="Getsprilldataentrystatus()" >
            <label class="form-check-label" for="flexRadioDefault2">
                Spill Data Entry Status
            </label>
          </div>
      </div>


            </div>
        </div>

    </form>
</div>



<div class="col-lg-12"  style="overflow: scroll;">

    <table class="  table-bordered table table-striped" style="overflow: scroll;">
        <thead>
        <tr>
        <th scope="col">state Name </th>
        <th scope="col">Total Reporting</th>
        <th scope="col">APR </th>
        <th scope="col">MAY </th>
        <th scope="col"> JUN </th>
        <th scope="col">
           JUL</th>
        <th scope="col">AUG </th>
        <th scope="col">SEPT</th>
        <th scope="col">OCT</th>
        <th scope="col">NOV</th>
        <th scope="col">DEC </th>
        <th scope="col">JAN</th>
        <th scope="col">FEB </th>
        <th scope="col">MAR </th>



        <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody class="tbody">
       
                        <tr *ngFor="let item of data">

                            <td>{{item.state}}</td>
                 
                            <td>
                                <span *ngIf="!item.editable">{{item.total_reportiong}}</span>
                                </td>
                            
                            

                                <td>
                                    <span *ngIf="!item.editable">{{item.april}}</span>
                                    </td>
                                
                                


                                        <td>
                                            <span *ngIf="!item.editable">{{item.may}}</span>
                                            <input type="text" [(ngModel)]="item.may" *ngIf="item.editable">
                                            </td>
                                        
                                        


                                            <td>
                                                <span *ngIf="!item.editable">{{item.june}}</span>
                                                <input type="text" [(ngModel)]="item.june" *ngIf="item.editable">
                                                </td>
                                            
                                            
                                                <td>
                                                    <span *ngIf="!item.editable">{{item.july}}</span>
                                                    <input type="text" [(ngModel)]="item.july" *ngIf="item.editable">
                                                    </td>
                                                
                                             


                                                
                                                        
                                                <td>
                                                    <span *ngIf="!item.editable">{{item.august}}</span>
                                                    <input type="text" [(ngModel)]="item.august" *ngIf="item.editable">
                                                    </td>
                                                
                                           
                                                    
                                                <td>
                                                    <span *ngIf="!item.editable">{{item.september}}</span>
                                                    <input type="text" [(ngModel)]="item.september  " *ngIf="item.editable">
                                                    </td>
                                                
                                             
                                                    
                                                <td>
                                                    <span *ngIf="!item.editable">{{item.october}}</span>
                                                    <input type="text" [(ngModel)]="item.october" *ngIf="item.editable">
                                                    </td>
                                                
                                              
                                                    
                                                <td>
                                                    <span *ngIf="!item.editable">{{item.november}}</span>
                                                    <input type="text" [(ngModel)]="item.november" *ngIf="item.editable">
                                                    </td>
                                                
                                              
                                                    
                                                <td>
                                                    <span *ngIf="!item.editable">{{item.december}}</span>
                                                    <input type="text" [(ngModel)]="item.december" *ngIf="item.editable">
                                                    </td>
                                                
                                               
                                                    
                                                <td>
                                                    <span *ngIf="!item.editable">{{item.january}}</span>
                                                    <input type="text" [(ngModel)]="item.january" *ngIf="item.editable">
                                                    </td>
                                                
                                            
                                                    
                                                <td>
                                                    <span *ngIf="!item.editable">{{item.febuary}}</span>
                                                    <input type="text" [(ngModel)]="item.febuary" *ngIf="item.editable">
                                                    </td>
                                                
                                                

                                                    <td>
                                                        <span *ngIf="!item.editable">{{item.march}}</span>
                                                        <input type="text" [(ngModel)]="item.march" *ngIf="item.editable">
                                                        </td>
                                                    
                                               
                                    

<!--         
                            <td>
                                <button type="button" class="btn btn-success"
                                style="width: 100px;" (click)="Updatemandalmaster(item)"  >Update</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger"  (click)="DeleteMandalmaster(item)"
                                    style="width: 100px;">Delete</button>

                            </td> -->
                        </tr>
        </tbody>
        </table>

        </div>
