<div>
    <div class="headAlign">
        <h2>COCONUT DEVELOPMENT BOARD</h2>
        <span>(Ministry of Agriculture & Farmers Welfare, Government of India)</span>
        <br>
        <span>Regional Office / State Centre <input type="text" name="" id=""></span><br>
        <span>Phone No : <input type="number"></span>
        <div>
            <h4>Application for ‘Expansion of Area under Coconut’ Scheme (Second Year)</h4>
        </div>
    </div>

    <div class="top-gap">
        <!-- below div container -->
        <div class="container">
            <div class="headFlexx">
                <div>
                    State : <select name="Select State">
                        <option value="Warangal">Option 1</option>
                        <option value="Adilabad">Option 2</option>
                        <option value="Nizamabad">Option 3</option>
                        <option value="Karimnagar">Option 4</option>
                    </select>
                </div>
                <div>
                    District : <select name="Select District">
                        <option value="Warangal">Warangal</option>
                        <option value="Adilabad">Adilabad</option>
                        <option value="Nizamabad">Nizamabad</option>
                        <option value="Karimnagar">Karimnagar</option>
                    </select>
                </div>

                <div>
                    Recommending Officer :
                    <input type="text">
                </div>
            </div>

            <div class="row">
                <ol>
                    <li>
                        <div class="row">
                            <div class="col-md-4">Name of the Applicant:</div>
                            <div class="col-md-6"><input type="text"></div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-4">Address:<textarea style="height: 80px; width: 300px;"> </textarea>
                            </div>
                            <div class="col-md-6">Pin code<input type="number">
                                <div class="col-md-6" style="margin-top: 3px;">Email: <input type="email" name="" id="">
                                </div>
                                <div class="col-md-6" style="margin-top: 3px;">Mobile No.<input type="number"></div>
                            </div>
                        </div>
                        <div>
                            Code No : <input type="text" name="" id="">
                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-md-4">Whether belonging to SC/ST:</div>
                            <div class="col-md-6">
                                <select>
                                    <option value="SC">SC</option>
                                    <option value="ST">ST</option>
                                    <option value="General">General</option>
                                </select>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div>
                            <label>Bank Details :</label>
                        </div>

                        <ol class="b">
                            <li>
                                <div class="row">
                                    <div class="col-md-4">Name of the Bank</div>
                                    <div class="col-md-4">
                                        <input type="text">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-md-4">Branch</div>
                                    <div class="col-md-4">
                                        <input type="text">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-md-4">IFSC code</div>
                                    <div class="col-md-4">
                                        <input type="text">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-md-4">Account Number</div>
                                    <div class="col-md-4">
                                        <input type="text">
                                    </div>
                                </div>
                            </li>
                        </ol>
                        <div>(Please submit the copy of the 1st page of bank pass book) </div>
                    </li>

                    <li>
                        <div>
                            <label>Details of planting :</label>
                        </div>

                        <ol type="a">
                            <li>
                                <div class="row">
                                    <div class="col-md-4">Survey No.of the plot</div>
                                    <div class="col-md-4">
                                        <input type="text">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-md-4">Area under new planting</div>
                                    <div class="col-md-4">
                                        <input type="text">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-md-4">No. of seedlings planted during 1st year </div>
                                    <div class="col-md-4">
                                        <input type="text">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-md-4"> No of surviving seedlings</div>
                                    <div class="col-md-4">
                                        <input type="text">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-md-4">Amount availed as 1st Installment of subsidy</div>
                                    <div class="col-md-4">
                                        <input type="text">
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </li>
                </ol>
            </div>

            <div class="uploadFloat">
                <div>
                    <div>Place: <input type="text" name="" id=""></div>
                    <div>Date: <input type="date" name="" id=""></div>
                </div>
                <div>
                    <div>Signature of applicant</div>
                    <div><input type="file" name="" id=""></div>
                </div>
            </div>
            <section class="section">
                <div>
                    <div class="sectionHeader">
                        <h5>Certificate of Agriculture / Horticulture Officer of State Dept. / Technical Officer of the
                            Board</h5>
                    </div>
                    <div class="sectionPara">
                        Certified that the applicant has maintained <input type="text" name="" id=""> No. of seedlings
                        properly and information
                        furnished in his application is correct.
                    </div>
                    <div class="uploadFloat">
                        <div>
                            <div>Place: <input type="text" name="" id=""></div>
                            <div>Date: <input type="date" name="" id=""></div>
                        </div>
                        <div>
                            Office Seal :<input type="file" name="" id="">
                        </div>
                        <div>
                            <div>Signature :<input type="file" name="" id=""></div>
                            <div>Name & Designation of the Officer : <input type="text" name="" id=""></div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section">
                <div>
                    <div class="sectionHeader">
                        <h5>For Office use only</h5>
                    </div>
                    <div>
                        <span>Verifying Officer’s Remarks : <input type="text" name="" id=""></span>
                        <div style="text-align: center;">Order of the Chairman</div>
                        <div class="sectionPara">
                            Sanctioned Rs. <input type="number" name="" id="">. (Rupees <input type="text" name=""
                                id=""> only) as 2nd year maintenance subsidy.
                        </div>
                    </div>

                    <div class="uploadFloat">
                        <div>
                        </div>
                        <div>
                            Chairman
                            Coconut Development Board, Kochi
                        </div>
                    </div>

                </div>
            </section>

        </div>
    </div>
</div>