<div class="center-horizontally">
    <div>
        <h2>
            CFC Secretraty Details
        </h2>
    </div>
</div>

<div class="center-cfcName">
    <table>
        <tr>
            <td>
                <label>CFC ID :</label>
            </td>
            <td>

                <div class="cfcInput">
                    <input matInput type="text" [(ngModel)]="CfcId" placeholder="Enter CFC ID" required>
                    <button class="btn" (click)="showCfc()">Show</button>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                CFC Name :
            </td>
            <td style="text-align: left;">
                {{ CfcName}}
            </td>
        </tr>
        <tr>
            <td style="text-align: center; color: red;" colspan="2">
                {{doesNotExists}}
            </td>
        </tr>
    </table>
</div>

<form [formGroup]="secretratyDetailForm" *ngIf="showCfcData">
    <div style="margin-top: 10px; height: 100%;">
        <span class="detailType">Details of CFC Secretraty</span>
        <div class="container">

            <div class="box">
                <div class="form-group">
                    <label>Name of the CFC Secretraty</label>
                    <mat-form-field appearance="outline">
                        <input matInput type="text" placeholder="Enter Secretraty Name"
                            [(ngModel)]="secretratyDetails.cfcSecretaryName" formControlName="secretratyName" required>
                        <mat-error *ngIf="hasError('secretratyName', 'required')">CFC Secretraty name is
                            <strong>required</strong></mat-error>
                        <mat-error *ngIf="hasError('secretratyName', 'maxlength')">You have more than 50
                            characters</mat-error>
                        <mat-error *ngIf="hasError('secretratyName', 'pattern')">Only alphabetic characters are
                            alloweded</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="box">
                <div class="form-group">
                    <label>S/o. / D/o. / W/o.</label>
                    <div>
                        <mat-form-field appearance="outline">
                            <input matInput type="text" placeholder="Enter Relation Name"
                                [(ngModel)]="secretratyDetails.relationName" formControlName="relationName" required>
                            <mat-error
                                *ngIf="hasError('relationName', 'required')"><strong>required</strong></mat-error>
                            <mat-error *ngIf="hasError('relationName', 'maxlength')">You have more than 50
                                characters</mat-error>
                            <mat-error *ngIf="hasError('relationName', 'pattern')">Only alphabetic characters are
                                alloweded</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="form-group">
                    <label>State</label>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-select formControlName="states" [(ngModel)]="secretratyDetails.stateCode"
                                placeholder="Choose State">
                                <mat-option *ngFor="let item of stateArr" [value]="item.stateCode">
                                    {{item.stateName}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="hasError('states', 'required')">State is
                                <strong>required</strong></mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="form-group">
                    <label>District</label>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-select formControlName="districts" [(ngModel)]="secretratyDetails.districtCode"
                                placeholder="Choose District">
                                <mat-option *ngFor="let item of districtArr" [value]="item.districtCode">
                                    {{item.districtName}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="hasError('districts', 'required')">District is
                                <strong>required</strong></mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="form-group">
                    <label>Pincode</label>
                    <div>
                        <mat-form-field appearance="outline">
                            <input matInput type="text" placeholder="Enter Relation Name"
                                [(ngModel)]="secretratyDetails.pinCode" formControlName="pinCode" required>
                            <mat-error *ngIf="hasError('pinCode', 'required')">Pincode is
                                <strong>required</strong></mat-error>
                            <mat-error *ngIf="hasError('pinCode', 'maxlength')">You have more than 6 digit</mat-error>
                            <mat-error *ngIf="hasError('pinCode', 'pattern')">Only numbers are alloweded</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="form-group">
                    <label>Mobile Number</label>
                    <div>
                        <mat-form-field appearance="outline">
                            <input matInput type="text" placeholder="Enter Mobile No"
                                [(ngModel)]="secretratyDetails.mobileNo" formControlName="mobileNo" required>
                            <mat-error *ngIf="hasError('mobileNo', 'required')">Mobile number is
                                <strong>required</strong></mat-error>
                            <mat-error *ngIf="hasError('mobileNo', 'maxlength')">You have more than 10 digit</mat-error>
                            <mat-error *ngIf="hasError('mobileNo', 'pattern')">Only numbers are alloweded</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="form-group">
                    <label>Email ID</label>
                    <div>
                        <mat-form-field appearance="outline">
                            <input matInput type="text" placeholder="Enter Email"
                                [(ngModel)]="secretratyDetails.emailId" formControlName="emailId" required>
                            <mat-error *ngIf="hasError('emailId', 'required')">Email is
                                <strong>required</strong></mat-error>
                            <mat-error *ngIf="hasError('emailId', 'maxlength')">You have more than 75
                                characters</mat-error>
                            <mat-error *ngIf="hasError('emailId', 'pattern')">Enter valid email</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="form-group">
                    <label>Date of birth</label>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="picker" [(ngModel)]="secretratyDetails.dateOfBirth"
                                formControlName="dob" [max]="maxDate">
                            <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="hasError('dob', 'required')">DOB is <strong>required</strong></mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="form-group">
                    <label>Gender</label>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-select formControlName="gender" [(ngModel)]="secretratyDetails.gender"
                                placeholder="Choose Gender">
                                <mat-option value="Male"> Male</mat-option>
                                <mat-option value="Female"> Female</mat-option>
                                <mat-option value="other">Other</mat-option>
                            </mat-select>
                            <mat-error *ngIf="hasError('gender', 'required')">Gender is
                                <strong>required</strong></mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="form-group">
                    <label>Whether belonging to SC/ST</label>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-select formControlName="whichCast" [(ngModel)]="secretratyDetails.casteCode">
                                <mat-option *ngFor="let item of castArr" [value]="item.casteCode">
                                    {{item.casteName}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="hasError('whichCast', 'required')"><strong>required</strong></mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="form-group">
                    <label>Whether Person with Disability</label>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-select formControlName="isPersonDisability" [(ngModel)]="secretratyDetails.disability">
                                <mat-option [value]="true"> Yes</mat-option>
                                <mat-option [value]="false"> No</mat-option>
                            </mat-select>
                            <mat-error
                                *ngIf="hasError('isPersonDisability', 'required')"><strong>required</strong></mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="form-group">
                    <label>Main profession of the Secretraty</label>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-select formControlName="mainProfession" [(ngModel)]="secretratyDetails.professionCode">
                                <mat-option *ngFor="let item of professionArr" [value]="item.professionCode">
                                    {{item.professionName}}</mat-option>
                            </mat-select>
                            <mat-error
                                *ngIf="hasError('mainProfession', 'required')"><strong>required</strong></mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="form-group">
                    <label>Aadhar card No.</label>
                    <div>
                        <mat-form-field appearance="outline">
                            <input matInput type="text" placeholder="Enter Aadhar No"
                                [(ngModel)]="secretratyDetails.aadharNo" formControlName="adharNo" required>
                            <mat-error *ngIf="hasError('adharNo', 'required')">Aadhar no is
                                <strong>required</strong></mat-error>
                            <mat-error *ngIf="hasError('adharNo', 'maxlength')">You have more than 12
                                characters</mat-error>
                            <mat-error *ngIf="hasError('adharNo', 'pattern')">Only numbers are alloweded</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>

        </div>
        <div class="btnDiv">
            <button class="btn" (click)="reset()">Clear</button>
            <button class="btn" (click)="cancel()">Cancel</button>
            <button class="btn" (click)="saveAndExit(0)">{{ isAddPresident ? 'Add' : 'Update' }}</button>
            <button class="btn" (click)="saveAndExit(1)">{{ isAddPresident ? 'Add/Exit' : 'Update/Exit' }}</button>
        </div>
    </div>
</form>