<div>
    <!-- <div class="headAlign">
        <h2>COCONUT DEVELOPMENT BOARD</h2>
        <span>(Ministry of Agriculture & Farmers Welfare, Government of India)</span>
        <br>
        <span>Website: www.coconutboard.gov.in</span>
        <div class="headFlex">
            <h5>
                Regional office/State Centre: <input type="text">
            </h5>
            <span>
                Phone No : <input type="number">
            </span>

        </div>
        <div>
            <h4>Application Form for ‘EXPANSION OF AREA UNDER COCONUT’ Scheme (First year)</h4>
        </div>
    </div> -->



    <!-- <table class="center">
        <tr>
            <td>1. Name of the Applicant:</td>
            <td> <input type="text"></td>
        </tr>
        <tr>
            <td>2. S/o / D/o / W/o:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>3. Date of Birth:</td>
            <td><input type="date"></td>
        </tr>
        <tr>
            <td>
                4. Full Address of the applicant :
            </td>
        </tr>
        <tr>
            <td>House name / number</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Post Office</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Village & Taluk</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Panchayat & Block</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>District & State</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Pincode</td>
            <td><input type="number"></td>
        </tr>
        <tr>
            <td>Mobile Number</td>
            <td><input type="number"></td>
        </tr>
        <tr>
            <td>Email ID</td>
            <td><input type="email" name="" id=""></td>
        </tr>

        <tr>
            <td>5. Whether belonging to SC/ST/General Category (√please tick) :</td>
            <td>
                <select>
                    <option value="SC">SC</option>
                    <option value="ST">ST</option>
                    <option value="General">General</option>
                  </select>
            </td>
        </tr>
        <tr>
            <td>6. Whether disabled (√please tick) : </td>
            <td>
                <input id="toggle-on" name="toggle" type="radio">
                <label for="toggle-on">Yes</label>
                <input id="toggle-off" name="toggle" type="radio">
                <label for="toggle-off">No</label>
         
            </td>
        </tr>

        <tr>
                <td>8. Identity card Numbers :</td>
        </tr>
        <tr>
            <td>Ration Card No</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Voter ID No. </td>
            <td></td>
        </tr>
        <tr>
            <td>Aadhar No. (UID) </td>
            <td> <input type="number"></td>
        </tr>

        <tr>
            <td>7. Gender (√please tick) :</td>
            <td>
                <select>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Third Gender">Third Gender</option>
                  </select>
            </td>
        </tr>
        <tr>
            <td>
                9. Bank Details :
            </td>
        </tr>
        <tr>
            <td>
                Name of the Bank
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
        <tr>
            <td>
                Branch
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
        <tr>
            <td>
                IFSC Code
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
    </table> -->

    <div class="top-gap">
        <!-- below div container -->
        <div class="container">
            <div class="headFlexx">
                <div>
                    District : <select name="Select District">
                        <option value="Warangal">Warangal</option>
                        <option value="Adilabad">Adilabad</option>
                        <option value="Nizamabad">Nizamabad</option>
                        <option value="Karimnagar">Karimnagar</option>
                    </select>
                </div>
        
                <div>
                    Recommending Officer (Dept. of Agriculture/Horticulture) :
                    <input type="text">
                </div>
            </div>
            <div class="row">
                <ol>
                    <li>
                        <div class="row">
                            <div class="col-md-4">Name of the Applicant:</div>
                            <div class="col-md-6"><input type="text"></div>
                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-md-4">S/o / D/o / W/o:</div>
                            <div class="col-md-6"><input type="text"></div>
                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-md-4">Date of Birth :</div>
                            <div class="col-md-6"><input type="date"></div>
                        </div>
                    </li>

                    <li>
                        <div>
                        <div>
                            <label>Full Address of the applicant : </label>
                        </div>
                        <!-- <ol class="b">
                            <li> -->
                                <div class="row"><label for="">State</label> 
                                    <div class="col-md-4">
                                        <select name="Select District">
                                            <option value="Warangal">Warangal</option>
                                            <option value="Adilabad">Adilabad</option>
                                            <option value="Nizamabad">Nizamabad</option>
                                            <option value="Karimnagar">Karimnagar</option>
                                        </select>
                                     </div>
                                    <div class="col-md-4">
                                        District
                                        <select name="Select District">
                                            <option value="Warangal">Warangal</option>
                                            <option value="Adilabad">Adilabad</option>
                                            <option value="Nizamabad">Nizamabad</option>
                                            <option value="Karimnagar">Karimnagar</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- <div class="col col-lg-2">
                                   <div>State 
                                        <select>
                                            <option value="SC">SC</option>
                                            <option value="ST">ST</option>
                                            <option value="General">General</option>
                                        </select>
                                     </div>
                                   <div>District
                                    <select>
                                        <option value="SC">SC</option>
                                        <option value="ST">ST</option>
                                        <option value="General">General</option>
                                    </select>
                                   </div>
                                  </div> -->
                            <!-- </li> -->

                            <!-- <li> -->
                                <div class="row">
                                    <div class="col-md-4">Panchayat & Block</div>
                                    <div class="col-md-4">
                                        <input type="text">
                                    </div>
                                </div>
                            <!-- </li>
                            <li> -->
                                <div class="row">
                                    <div class="col-md-4">Village & Taluk</div>
                                    <div class="col-md-4">
                                        <input type="text">
                                    </div>
                                </div>
                            <!-- </li>
                            <li> -->
                                <div class="row">
                                    <div class="col-md-4">House name / number</div>
                                    <div class="col-md-4">
                                        <input type="text">
                                    </div>
                                </div>
                            <!-- </li>

                            <li> -->
                                <div class="row">
                                    <div class="col-md-4">Post Office </div>
                                    <div class="col-md-4">
                                        <input type="text">
                                    </div>
                                </div>
                            <!-- </li>

                            <li> -->
                                <div class="row">
                                    <div class="col-md-4">Pincode</div>
                                    <div class="col-md-4">
                                        <input type="text">
                                    </div>
                                </div>
                            <!-- </li>

                            <li> -->
                                <div class="row">
                                    <div class="col-md-4">Mobile Number</div>
                                    <div class="col-md-4">
                                        <input type="text">
                                    </div>
                                </div>
                            <!-- </li>

                            <li> -->
                                <div class="row">
                                    <div class="col-md-4">Email ID</div>
                                    <div class="col-md-4">
                                        <input type="email">
                                    </div>
                                </div>
                            <!-- </li>
                        </ol> -->
                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-md-4">Whether belonging to SC/ST/General Category (√please tick) :</div>
                            <div class="col-md-6">
                                <select>
                                    <option value="SC">SC</option>
                                    <option value="ST">ST</option>
                                    <option value="General">General</option>
                                </select>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-md-4">Whether disabled (√please tick) :</div>
                            <div class="col-md-4">
                                <input id="toggle-on" name="toggle" type="radio">
                                <label for="toggle-on">Yes</label>
                                <input id="toggle-off" name="toggle" type="radio">
                                <label for="toggle-off">No</label>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-md-4">Gender (√please tick) :</div>
                            <div class="col-md-4">
                                <select>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Third Gender">Third Gender</option>
                                </select>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div>
                            <label>Identity card Numbers :</label>
                        </div>

                        <ol class="b">
                            <li>
                                <div class="row">
                                    <div class="col-md-4">Ration Card No</div>
                                    <div class="col-md-4">
                                        <input type="text">
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="row">
                                    <div class="col-md-4">Voter ID No.</div>
                                    <div class="col-md-4">
                                        <input type="text">
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="row">
                                    <div class="col-md-4">Aadhar No. (UID)</div>
                                    <div class="col-md-4">
                                        <input type="text">
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </li>

                    <li>
                        <div>
                            <label>Bank Details :</label>
                        </div>

                        <ol class="b">
                            <li>
                                <div class="row">
                                    <div class="col-md-4">Name of the Bank</div>
                                    <div class="col-md-4">
                                        <input type="text">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-md-4">Branch</div>
                                    <div class="col-md-4">
                                        <input type="text">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-md-4">IFSC code</div>
                                    <div class="col-md-4">
                                        <input type="text">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-md-4">Account Number</div>
                                    <div class="col-md-4">
                                        <input type="text">
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-md-4">Whether bank account linked with Aadhar :</div>
                            <div class="col-md-6">
                                <input id="toggle-on" name="toggle" type="radio">
                                <label for="toggle-on">Yes</label>
                                <input id="toggle-off" name="toggle" type="radio">
                                <label for="toggle-off">No</label>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-md-4">Total area possessed by the applicant:</div>
                            <div class="col-md-6"><input type="text">Ha</div>
                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-md-4">Total area under coconut plantation:</div>
                            <div class="col-md-6"><input type="text">Ha</div>
                        </div>
                    </li>

                    <li>
                        <div>
                            <label>Details of land planted for availing subsidy:</label>
                        </div>
                        <div>
                            <table class="table" border="1">
                                <thead class="table-light">
                                    <tr>
                                        <th scope="col">Survey No</th>
                                        <th scope="col">Area (in ha)</th>
                                        <th scope="col">District</th>
                                        <th scope="col">Taluk</th>
                                        <th scope="col">Panchayat</th>
                                        <th scope="col">Village</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row"><input type="text"></th>
                                        <td><input type="text"></td>
                                        <td>
                                            <select name="Select District">
                                                <option value="Warangal">Warangal</option>
                                                <option value="Adilabad">Adilabad</option>
                                                <option value="Nizamabad">Nizamabad</option>
                                                <option value="Karimnagar">Karimnagar</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select name="Select District">
                                                <option value="Warangal">Warangal</option>
                                                <option value="Adilabad">Adilabad</option>
                                                <option value="Nizamabad">Nizamabad</option>
                                                <option value="Karimnagar">Karimnagar</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select name="Select District">
                                                <option value="Warangal">Warangal</option>
                                                <option value="Adilabad">Adilabad</option>
                                                <option value="Nizamabad">Nizamabad</option>
                                                <option value="Karimnagar">Karimnagar</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select name="Select District">
                                                <option value="Warangal">Warangal</option>
                                                <option value="Adilabad">Adilabad</option>
                                                <option value="Nizamabad">Nizamabad</option>
                                                <option value="Karimnagar">Karimnagar</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                            Whether the applicant is owner of the above mentioned land
                                            <span style="margin-left: 10px;">
                                                <input id="toggle-on" name="toggle" type="radio">
                                                <label for="toggle-on">Yes</label>
                                                <input id="toggle-off" name="toggle" type="radio">
                                                <label for="toggle-off">No</label>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </li>

                    <li>
                        <div>
                            <label>Variety of coconut seedlings planted: </label>
                        </div>
                        <div>
                            <table class="table" border="1">
                                <thead class="table-light">
                                    <tr>
                                        <th scope="col">Variety of seedling planted</th>
                                        <th scope="col">Nos.</th>
                                        <th scope="col">Source</th>
                                        <th scope="col">Cost of seedling </th>
                                        <th scope="col">Date of 
                                            planting </th>
                                        <th scope="col">Spacing between plants</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Tall</th>
                                        <td><input type="text"></td>
                                        <td><input type="text"> </td>
                                        <td><input type="text"> </td>
                                        <td><input type="date" name="" id=""></td>
                                        <td><input type="text" name="" id=""></td>
                                    </tr>
                                    <tr>
                                        <th>Dwarf</th>
                                        <td><input type="text"></td>
                                        <td><input type="text"> </td>
                                        <td><input type="text"> </td>
                                        <td><input type="date" name="" id=""></td>
                                        <td><input type="text" name="" id=""></td>
                                    </tr>
                                    <tr>
                                        <th>Hybrid</th>
                                        <td><input type="text"></td>
                                        <td><input type="text"> </td>
                                        <td><input type="text"> </td>
                                        <td><input type="date" name="" id=""></td>
                                        <td><input type="text" name="" id=""></td>
                                    </tr>
                                    <tr>
                                        <th>Total</th>
                                        <td><input type="text"></td>
                                        <td><input type="text"> </td>
                                        <td><input type="text"> </td>
                                        <td><input type="date" name="" id=""></td>
                                        <td><input type="text" name="" id=""></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                            Whether new seedlings are planted among existing coconut trees?
                                            <span style="margin-left: 10px;">
                                                <input id="toggle-on" name="toggle" type="radio">
                                                <label for="toggle-on">Yes</label>
                                                <input id="toggle-off" name="toggle" type="radio">
                                                <label for="toggle-off">No</label>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </li>

                    <li>
                        <div>
                            <label> Expenditure incurred during 1st year</label>
                        </div>
                        <div>
                            <table class="table" border="1">
                                <thead class="table-light">
                                    <tr>
                                        <th scope="col">Particulars</th>
                                        <th scope="col">Amount (Rs)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Cost of the seedlings</td>
                                        <td><input type="text"> </td>
                                    </tr>
                                    <tr>
                                        <td>Preparation of the land and planting seedlings</td>
                                        <td><input type="text"> </td>
                                    </tr>
                                    <tr>
                                        <td>Cost of manures and fertilizer</td>
                                        <td><input type="text"> </td>
                                    </tr>
                                    <tr>
                                        <td>Fencing and shading</td>
                                        <td><input type="text"> </td>
                                    </tr>
                                    <tr>
                                        <td>Irrigation cost & Intercropping</td>
                                        <td><input type="text"> </td>
                                    </tr>
                                    <tr>
                                        <td>Plant protection</td>
                                        <td><input type="text"> </td>
                                    </tr>
                                    <tr>
                                        <td>Agricultural equipments</td>
                                        <td><input type="text"> </td>
                                    </tr>
                                    <tr>
                                        <td>Other Expenses</td>
                                        <td><input type="text"> </td>
                                    </tr>
                                    <tr>
                                        <td>Total</td>
                                        <td><input type="text"> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </li>

                </ol>
            </div>

            <section class="section">
                <div>
                    <div class="sectionHeader">
                        <h3>Affidavit of the Applicant</h3>
                    </div>
                    <div class="sectionPara">
                        I <span><input type="text" name="" id=""></span>(S/o/W/o/D/o) <span><input type="text" name=""
                                id=""></span>(Address) <span><input type="text" name="" id=""></span> hereby declare
                        that the details
                        furnished above are true and I will abide by all terms and conditions laid down by Coconut
                        Development Board for availing the aid. I have incurred an actual expenditure of
                        Rs <span><input type="number" name="" id=""></span> (Rupees <span><input type="text" name=""
                                id=""></span> Only) for the planting
                        and maintenance of <input type="number" name="" id="">.no. of coconut seedlings. The seedlings
                        are planted
                        scientifically in open and planted and maintaining <span><input type="number" name=""
                                id=""></span>. nos of coconut seedlings during
                        the year <input type="text" name="" id="">.
                    </div>
                    <div class="uploadFloat">
                        <div>
                            <div>Place: <input type="text" name="" id=""></div>
                            <div>Date: <input type="date" name="" id=""></div>
                        </div>
                        <div>
                            <div>Signature of the Applicant / Thumb Impression</div>
                            <div><input type="file" name="" id=""></div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section">
                <div>
                    <div class="sectionHeader">
                        <h3>Certificate</h3>
                        <h4>(Certificate of Agriculture Officer of the State/Technical Officer of the Board) </h4>
                    </div>
                    <div class="sectionPara">
                        I <input type="text" name="" id="">(Designation of the Officer <span><input type="text" name=""
                                id=""></span>)
                        have inspected the above mentioned agricultural land. I hereby certify that the applicant has
                        spent
                        Rs <input type="number" name="" id=""> (Rupees <input type="text" name="" id=""> only) for
                        planting & maintenance of <input type="number" name="" id=""> number
                        of new quality seedlings as detailed below in <input type="text" name="" id=""> hectares of
                        agricultural land.
                    </div>
                </div>
                <div class="topMargin">
                    <table class="table" border="1">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">Variety of seedling planted</th>
                                <th scope="col">No. of seedlings</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Tall</td>
                                <td><input type="text"> </td>
                            </tr>
                            <tr>
                                <td>Dwarf</td>
                                <td><input type="text"> </td>
                            </tr>
                            <tr>
                                <td>Hybrid</td>
                                <td><input type="text"> </td>
                            </tr>
                            <tr>
                                <td>Total</td>
                                <td><input type="text"> </td>
                            </tr>
                        </tbody>
                    </table>
                    <div> <input type="checkbox" name="" id="">
                        I hereby also certify that the said seedlings are planted scientifically in Open space/under
                        planting.
                    </div>
                    <div class="uploadFloat">
                        <div>
                            <div>Place: <input type="text" name="" id=""></div>
                            <div>Date: <input type="date" name="" id=""></div>
                        </div>
                        <div>Office Seal</div>
                        <div>
                            <div>Signature: <input type="file" name="" id=""></div>
                            <div>Name of the officer <input type="text" name="" id=""></div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section">
                <div>
                    <div class="sectionHeader">
                        <h3>For Office Use only</h3>
                    </div>
                    <div class="sectionPara">
                        Remarks of the verifying officer:  <input type="text" name="" id="">
                    </div>
                    <div class="uploadFloat">
                        <div></div>
                        <div>Name of the Designation <input type="file" name="" id=""></div>
                    </div>
                </div>
            </section>

            <section class="section">
                <div>
                    <div class="sectionHeader">
                        <h3>Chairman’s Order</h3>
                    </div>
                    <div class="sectionPara">
                        First Year Subsidy of Rs. <input type="number" name="" id=""> Rupees <input type="text" name=""
                            id="">
                        Only) is sanctioned.
                    </div>
                    <div class="uploadFloat">
                        <div>
                        </div>
                        <div>
                            Chairman
                            Coconut Development Board, Kochi
                        </div>
                    </div>
                </div>
            </section>

            <section class="section">
                <div>
                    <div>
                        <h5>Documents to be attached</h5>
                    </div>
                    <div>
                        <ol>
                            <li>
                                Photographs of new plantation (farmers who have planted 40 or more seedlings in not less
                                than 0.25 Ha of land (62 cents).
                            </li>
                            <li>
                                Copy of identity cards.
                            </li>
                            <li>
                                Copy of front page bank passbook.
                            </li>
                            <li>
                                Copy of land tax receipt.
                            </li>
                            <li>
                                Copy of certificate for SC/ ST category.
                            </li>
                        </ol>
                    </div>
                </div>
            </section>

            <section class="section">
                <div>
                    <div class="sectionHeader">
                        <h3>Instructions for filling up the application form</h3>
                    </div>
                    <div class="sectionPara">
                        <ol>
                            <li>Applicant’s Name: Please write in Block Letters. One letter in a box. Please write initials 
                                after name. <br>
                                <input type="text" name="" id="">
                            </li>
                            <li>Please write clearly the name of the bank in which applicant has his account, place 
                                where the bank is situated, account number of the applicant etc clearly.</li>
                            <li>Please write the measurement of the land in hectares only (One hectare = 2.5 acre = 250 
                                cents)</li>
                            <li>Applications without the signature of the Officer concerned and Office seal will be rejected.</li>
                            <li>Applicant should sign in the declaration by himself / herself.</li>
                        </ol>
                    </div>
                </div>
            </section>

            <section class="section">
                <div>
                    <div>
                        <h5>Conditions for granting subsidy</h5>
                    </div>
                    <div>
                        <ol>
                            <li>Application for subsidy should be submitted in the prescribed format of the Board with 
                                certification of the Officer of Dept. of Agriculture/Horticulture. </li>
                            <li>Only those farmers who own more than 0.1 hectare (25 cents) or more and less than 4 
                                hectares (10 acres) of land are eligible for subsidy under this scheme. Applicant should 
                                plant at least 10 coconut seedlings.</li>
                            <li>Applicant should have legal right of the property.</li>
                            <li>Quality seedlings either from Government nurseries, nurseries recognized by respective 
                                State Governments or those produced by farmers themselves (certification of the 
                                Agricultural Officer is required) should be used for planting. </li>
                            <li>In one hectare more than 175 or more than the number of coconut trees stipulated by the 
                                State Agricultural department should not be planted.</li>
                            <li>From the beginning coconut seedlings should be managed as per recommendations.</li>
                            <li>All required agricultural practices should be done before submitting application for subsidy 
                                each year.</li>
                            <li>Subsidy will be granted based on the actual number of existing coconut seedlings. If 
                                coconut seedlings which received subsidy get destroyed or die by any reason the farmer 
                                should bear the expenditure of planting new seedlings. But subsidy will not be given for 
                                such replanted seedlings. </li>
                            <li>Beneficiary should display a board “This Farm has received subsidy from Coconut 
                                Development Board” at his own expenses in the farm.</li>
                            <li>If any plant which received subsidy is destroyed the owner should return the subsidy with 
                                12 percent interest to the Board.</li>
                            <li>If the land which received subsidy is acquired for any public purpose the subsidy amount 
                                should be returned to the Board.</li>
                            <li>If the Board comes to know that any person has obtained subsidy by cheating or creating 
                                misunderstanding Board will have the right to recover the subsidy amount with 12 percent 
                                interest.</li>
                            <li>The inherent of the land which received subsidy will be eligible to receive the next one 
                                installment of the subsidy. A separate application supported by necessary documents
                                should be submitted to the Board for this purpose</li>
                        </ol>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>