<!-- <app-subsidy-one-year></app-subsidy-one-year> -->
<div>
    <div class="headAlign">
        <h2>COCONUT DEVELOPMENT BOARD</h2>
        <span>(Ministry of Agriculture & Farmers Welfare, Government of India)</span>
        <br>
        <span>Kera Bhavan, SRV Road, Kochi-682001, India</span>
        <div>
            <h5>
                BASELINE SURVEY FORMAT
            </h5>
            <h5>FOR LAYING OUT DEMONSTRATION PLOT(LoDP) SCHEME IN FARMER FIELD</h5>
        </div>
    </div>

    <div class="top-gap">
        <!-- below div container -->
        <div class="container"> 
            <section style="margin-top: 10px;">
                <div>
                    Name of CFC: <input type="text" name="" id="">
                </div>
                <div>
                    <div style="display: flex; justify-content: space-around; margin-top: 10px;">
                        <div>State:
                            <select name="Select District">
                                <option value="Warangal">Warangal</option>
                                <option value="Adilabad">Adilabad</option>
                                <option value="Nizamabad">Nizamabad</option>
                                <option value="Karimnagar">Karimnagar</option>
                            </select>
                        </div>

                        <div>District:
                            <select name="Select District">
                                <option value="Warangal">Warangal</option>
                                <option value="Adilabad">Adilabad</option>
                                <option value="Nizamabad">Nizamabad</option>
                                <option value="Karimnagar">Karimnagar</option>
                            </select>
                        </div>

                        <div>Taluk:
                            <select name="Select District">
                                <option value="Warangal">Warangal</option>
                                <option value="Adilabad">Adilabad</option>
                                <option value="Nizamabad">Nizamabad</option>
                                <option value="Karimnagar">Karimnagar</option>
                            </select>
                        </div>
                    </div>
                    <div style="display: flex; justify-content: space-around;margin-top: 10px;">
                        <div>Block:
                            <select name="Select District">
                                <option value="Warangal">Warangal</option>
                                <option value="Adilabad">Adilabad</option>
                                <option value="Nizamabad">Nizamabad</option>
                                <option value="Karimnagar">Karimnagar</option>
                            </select>
                        </div>

                        <div>Panchayat:
                            <select name="Select District">
                                <option value="Warangal">Warangal</option>
                                <option value="Adilabad">Adilabad</option>
                                <option value="Nizamabad">Nizamabad</option>
                                <option value="Karimnagar">Karimnagar</option>
                            </select>
                        </div>

                        <div>Agri. Office:
                            <select name="Select District">
                                <option value="Warangal">Warangal</option>
                                <option value="Adilabad">Adilabad</option>
                                <option value="Nizamabad">Nizamabad</option>
                                <option value="Karimnagar">Karimnagar</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <ol>
                        <li>
                            <div class="row">
                                <div class="col-md-4">Name of the Applicant:</div>
                                <div class="col-md-6"><input type="text"></div>
                            </div>
                        </li>

                        <li>
                            <div class="row">
                                <div class="col-md-4">S/o / D/o / W/o:</div>
                                <div class="col-md-6"><input type="text"></div>
                            </div>
                        </li>

                        <li>
                            <div>
                                <label>Full postal address of the applicant : </label>
                            </div>
                            <ol class="b">
                                <li>
                                    <div class="row">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4">
                                            <textarea style="height: 80px; width: 300px;"> </textarea>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-md-4">State:</div>
                                        <div class="col-md-4">
                                            <select name="Select District">
                                                <option value="Warangal">Warangal</option>
                                                <option value="Adilabad">Adilabad</option>
                                                <option value="Nizamabad">Nizamabad</option>
                                                <option value="Karimnagar">Karimnagar</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-md-4">District:</div>
                                        <div class="col-md-4">
                                            <select name="Select District">
                                                <option value="Warangal">Warangal</option>
                                                <option value="Adilabad">Adilabad</option>
                                                <option value="Nizamabad">Nizamabad</option>
                                                <option value="Karimnagar">Karimnagar</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-md-4">Pin:</div>
                                        <div class="col-md-4">
                                            <input type="number" name="" id="">
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </li>

                        <li>
                            <div class="row">
                                <div class="col-md-4">Mobile No.</div>
                                <div class="col-md-6"><input type="text"></div>
                            </div>
                        </li>

                        <li>
                            <div class="row">
                                <div class="col-md-4">Date of birth</div>
                                <div class="col-md-6"><input type="date"></div>
                            </div>
                        </li>

                        <li>
                            <div class="row">
                                <div class="col-md-4">Gender</div>
                                <div class="col-md-6">
                                    <select>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Third Gender">Third Gender</option>
                                    </select>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="row">
                                <div class="col-md-4">Whether belongs to SC/ST </div>
                                <div class="col-md-6">
                                    <select>
                                        <option value="SC">SC</option>
                                        <option value="ST">ST</option>
                                        <option value="OBC">OBC</option>
                                        <option value="General">General</option>
                                    </select>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="row">
                                <div class="col-md-4">Whether Person with Disability </div>
                                <div class="col-md-6">
                                    <input id="toggle-on" name="toggle" type="radio">
                                    <label for="toggle-on">Yes</label>
                                    <input id="toggle-off" name="toggle" type="radio">
                                    <label for="toggle-off">No</label>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="row">
                                <div class="col-md-4">Main profession of the applicant </div>
                                <div class="col-md-6">
                                    <select>
                                        <option value="Govt">Govt</option>
                                        <option value="Private">Private</option>
                                        <option value="Agri">Agri.</option>
                                        <option value="Business">Business</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="row">
                                <div class="col-md-4">Aadhar card No.</div>
                                <div class="col-md-6"><input type="number"></div>
                            </div>
                        </li>


                        <li>
                            <div class="row">
                                <div class="col-md-4">PLease choose type of card & write no
                                    <select>
                                        <option value="VoterId">Voter Id</option>
                                        <option value="DrivingLicence">Driving Licence</option>
                                        <option value="PassportNo">Passport No.</option>
                                    </select>
                                </div>
                                <div class="col-md-6"><input type="number"></div>
                            </div>
                        </li>

                        <li>
                            <div>
                                <label>Bank Details: </label>
                            </div>
                            <ol class="b">
                                <li>
                                    <div class="row">
                                        <div class="col-md-4">Bank Account No.(Adhar linked nationalized bank)</div>
                                        <div class="col-md-4">
                                            <input type="text" name="" id="">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-md-4">Name of the bank</div>
                                        <div class="col-md-4">
                                            <input type="text" name="" id="">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-md-4">Name of the Branch</div>
                                        <div class="col-md-4">
                                            <input type="text" name="" id="">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-md-4">IFSC Code</div>
                                        <div class="col-md-4">
                                            <input type="text" name="" id="">
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </li>

                        <li>
                            <div class="row">
                                <div class="col-md-4"> Name of FC associated with</div>
                                <div class="col-md-6"><input type="text"></div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-md-4"> Registeration No. of FC with CDB<input type="text"></div>
                                <div class="col-md-6">Validity up to <input type="text"></div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-md-4">Total agricultural area possessed by the farmer <input type="text"
                                        placeholder="Ha"></div>
                                <div class="col-md-6">Total coconut area <input type="text"></div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div>Area selected under LoPD scheme: <input type="text" placeholder="Ha">(maximum 1.00
                                    ha/Beneficiary)</div>
                            </div>
                        </li>

                        <li>
                            <div>
                                <label>Details of coconut palms: </label>
                            </div>
                            <div class="table-responsive">
                                <table class="table" border="1">
                                    <thead class="table-light">
                                        <tr>
                                            <th scope="col" rowspan="2">Sl No.</th>
                                            <th scope="col" rowspan="2">Variety</th>
                                            <th scope="col" colspan="2">Coconut are(ha)</th>
                                            <th scope="col" colspan="2">Avarage age of palms(year)</th>
                                            <th scope="col" colspan="4">No. of palms</th>
                                            <th scope="col" colspan="2">Avarage yield/ palm/ year (no. of nuts)</th>
                                            <th scope="col" colspan="2">Expenditure & Income from all coconut and
                                                intercrops woned</th>
                                        </tr>
                                        <tr>
                                            <th>Total owned</th>
                                            <th>Selected</th>
                                            <th>Total owned</th>
                                            <th>Selected</th>
                                            <th>Yiekding</th>
                                            <th>Non Yiekding</th>
                                            <th>Total</th>
                                            <th>Selected</th>
                                            <th>Total</th>
                                            <th>Selected</th>
                                            <th>Expenditure/ Year</th>
                                            <th>Income/ Year</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Hybrids</td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Talls</td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Dwarfs</td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Total</td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </li>

                        <li>
                            <div>
                                <label>Land details of the plot selected for implementation of the scheme: </label>
                            </div>
                            <div class="table-responsive">
                                <table class="table" border="1">
                                    <thead class="table-light">
                                        <tr>
                                            <th scope="col">Survey No.</th>
                                            <th scope="col">District</th>
                                            <th scope="col">State</th>
                                            <th scope="col">Taluk</th>
                                            <th scope="col">Village</th>
                                            <th scope="col">Area (ha)</th>
                                            <th scope="col">Ownership** (pl. tick)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><input type="text" name="" id=""></td>
                                            <td>
                                                <select>
                                                    <option value="Option1">Option 1</option>
                                                    <option value="Option2">Option 2</option>
                                                    <option value="Option3">Option 3</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select>
                                                    <option value="Option1">Option 1</option>
                                                    <option value="Option2">Option 2</option>
                                                    <option value="Option3">Option 3</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select>
                                                    <option value="Option1">Option 1</option>
                                                    <option value="Option2">Option 2</option>
                                                    <option value="Option3">Option 3</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select>
                                                    <option value="Option1">Option 1</option>
                                                    <option value="Option2">Option 2</option>
                                                    <option value="Option3">Option 3</option>
                                                </select>
                                            </td>
                                            <td><input type="text" name="" id=""></td>

                                            <td>
                                                <select>
                                                    <option value="Option1">Sole owner</option>
                                                    <option value="Option2">Partner</option>
                                                    <option value="Option3">Lessee</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </li>

                        <div>
                            <span>
                                ** Enclose necessary documents to prove the ownership of the land, such as self attached
                                copy of the land tax receipt (of applying year) or possession certificate.
                            </span>
                        </div>

                        <li>
                            <div class="row">
                                <div class="col-md-4">Types of soil</div>
                                <div class="col-md-6">
                                    <select>
                                        <option value="Option1">Sandy</option>
                                        <option value="Option2">Loamy</option>
                                        <option value="Option3">Alluvial</option>
                                        <option value="">Laterite</option>
                                        <option value="">Clayey</option>
                                    </select>
                                </div>
                            </div>
                        </li>


                        <li>
                            <div class="row">
                                <div class="col-md-4">Whether
                                    <input type="radio" [(ngModel)]="showDropdown" value="Rainfed"> Rainfed
                                    <input type="radio" [(ngModel)]="showDropdown" value="Irrigated"> Irrigated
                                </div>
                                <div class="col-md-6" *ngIf="showDropdown === 'Irrigated'">
                                    <select>
                                        <option value="option1">Basin</option>
                                        <option value="option2">Sprinkler</option>
                                        <option value="option3">Drip</option>
                                        <option value="option3">Canal</option>
                                        <option value="Pot">Pot</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div>
                                <label>Farming/Management practices adopted in the demonstration plot (please select
                                    appropriate box)</label>
                            </div>
                            <ol class="row">

                                <div class="row">
                                    <div class="col-md-4">i. Application of organic manure
                                        <input id="toggle-on" name="toggle" type="radio">
                                        <label for="toggle-on">Yes</label>
                                        <input id="toggle-off" name="toggle" type="radio">
                                        <label for="toggle-off">No</label>
                                    </div>

                                    <div class="col-md-4">
                                        v. Basin clearing
                                        <input id="toggle-on" name="toggle" type="radio">
                                        <label for="toggle-on">Yes</label>
                                        <input id="toggle-off" name="toggle" type="radio">
                                        <label for="toggle-off">No</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">ii. Application of fertilizer
                                        <input id="toggle-on" name="toggle" type="radio">
                                        <label for="toggle-on">Yes</label>
                                        <input id="toggle-off" name="toggle" type="radio">
                                        <label for="toggle-off">No</label>
                                    </div>

                                    <div class="col-md-4">
                                        vi. inter-cultivation/ weed control
                                        <input id="toggle-on" name="toggle" type="radio">
                                        <label for="toggle-on">Yes</label>
                                        <input id="toggle-off" name="toggle" type="radio">
                                        <label for="toggle-off">No</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">iii. Plant protection measure
                                        <input id="toggle-on" name="toggle" type="radio">
                                        <label for="toggle-on">Yes</label>
                                        <input id="toggle-off" name="toggle" type="radio">
                                        <label for="toggle-off">No</label>
                                    </div>

                                    <div class="col-md-4">
                                        vii. Intercropping/Multi-cropping
                                        <input id="toggle-on" name="toggle" type="radio">
                                        <label for="toggle-on">Yes</label>
                                        <input id="toggle-off" name="toggle" type="radio">
                                        <label for="toggle-off">No</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">iv. Irrigation
                                        <input id="toggle-on" name="toggle" type="radio">
                                        <label for="toggle-on">Yes</label>
                                        <input id="toggle-off" name="toggle" type="radio">
                                        <label for="toggle-off">No</label>
                                    </div>

                                    <div class="col-md-4">
                                        viii. Mixed farming
                                        <input id="toggle-on" name="toggle" type="radio">
                                        <label for="toggle-on">Yes</label>
                                        <input id="toggle-off" name="toggle" type="radio">
                                        <label for="toggle-off">No</label>
                                    </div>
                                </div>

                            </ol>
                        </li>
                    </ol>
                </div>

            </section>

            <section class="section">
                <div>
                    <div class="sectionHeader">
                        <h3>Declaration of applicant</h3>
                    </div>
                    <div class="sectionPara">
                        I <input type="text" name="" id=""> (S/o / D/o / W/o) <input type="text" name="" id=""> residing
                        at (address)
                        <input type="text" name="" id=""> hereby declare & undertake the following that:
                    </div>
                    <div>
                        <ol>
                            <li>
                                The information furnished above is true to the best of my knowledge & belief.
                            </li>
                            <li>
                                I have not availed any benefits under the LoDP or R & R schemes of the Board, either
                                directly implemented by the CDB or implemented through the State Agri / Horti Dept.,
                                during the past 5 years from 2017-18 to 2021 - 22.
                            </li>
                            <li>
                                I shall abide by the CDB terms and conditions prescribed from time to time, in respect
                                of implementation of LoDP programme.
                            </li>
                            <li>
                                In the scheme period of <input type="text" name="" id="">, I will maintain my coconut
                                Garden with <input type="text" name="" id=""> no. of selected palms under the
                                scheme, covering an area of <input type="text" name="" id="" placeholder="ha"> ha with
                                intercrops, by adopting all recommended
                                scientific management practices.
                            </li>
                            <li>
                                The remaining palms, which are not covered under the scheme, will be maintained with the
                                same scientific management packages given under the scheme, at my own expenses.
                            </li>
                        </ol>
                    </div>
                    <div>
                        <input type="checkbox" name="" id="">
                        I, hereby authorize the Coconut Development Board to transfer the eligible subsidy
                        amount to the inputs suppliers directly, towards the cost of the Agricultural inputs
                        procured from them on credit basis in connection with the implementation of the scheme,
                        LoDP in farmer field during the scheme period of 2023-24 & 2024-25 if the inputs
                        supplied on credit basis.
                    </div>
                    <div class="uploadFloat">
                        <div>
                            <div>Place: <input type="text" name="" id=""></div>
                            <div>Date: <input type="date" name="" id=""></div>
                        </div>
                        <div>
                            <div>Signature of the Applicant:</div>
                            <div><input type="file" name="" id=""></div>
                        </div>
                    </div>
                </div>
                <div class="spacingTop">
                    <div>
                        <h6>Self attested copies of documenes enclosed (please tick the documenes attached)</h6>
                    </div>
                    <div>
                        <ol>
                            <li><input type="checkbox" name="" id=""> Adhar card </li>
                            <li><input type="checkbox" name="" id=""> Other identity cards </li>
                            <li><input type="checkbox" name="" id=""> Land tax receipt </li>
                            <li><input type="checkbox" name="" id=""> Bank passbook front page</li>
                            <li><input type="checkbox" name="" id=""> Certificate of SC/ST category </li>
                            <li><input type="checkbox" name="" id=""> Certificate of Person with Disability </li>
                        </ol>
                    </div>
                </div>
            </section>

            <section class="section">
                <div>
                    <div class="sectionHeader">
                        <h3>Certification by the Coconut Farmer's Cluster Convener</h3>
                    </div>
                    <div class="sectionPara">
                        This is to certify that, I/We have verified the application & inspected the coconut garden of
                        Shri/ Smt. <input type="text" name="" id=""> and to certify that the details furnished by him 
                        /her are true to the best of my knowledge & belief. He/She possess <input type="text" name="" id="">
                         ha coconut garden in survey no with <input type="text" name="" id=""> no. of bearing palms, out of 
                         which <input type="text" name="" id=""> no. of palms covering <input type="text" name="" id=""> ha are selected under the scheme.
                    </div>
                    <div class="uploadFloat">
                        <div>
                            <div>Signature of Group leader <input type="text" name="" id=""></div>
                            <div>Name of contact no of Group leader: <input type="date" name="" id=""></div>
                        </div>
                        <div>
                            <div>Signature of Convener of CFC <input type="file" name="" id=""></div>
                            <div>Name <input type="text" name="" id=""> <br>
                                ontact no of Convener <input type="text" name="" id=""></div>
                            <div>Office seal</div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</div>